/* Inline Styling  */
/* Header styles */
.inline-hamburger {
    color: #0e0606;
    font-size: 25px;
  }
  
  .inline-nav-link {
    text-decoration: none;
    color: inherit;
    text-align: center;
  }
  
  /* Video section */
  .inline-video-section {
    width: 100%;
    position: relative;
  }
  
  .inline-video-image {
    width: 100%;
    height: 100%;
  }
  
  .inline-video-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
  }
  
  /* Product details section */
  .inline-product-details {
    width: 100%;
    position: relative;
    overflow: hidden;
  }
  
  .inline-background-image {
    position: absolute;
    top: -70%;
    right: -30%;
  }